<style>
  body{
    margin:0;
  }
  a{
    text-decoration: none;
    color : black;
    font-size:20px;
  }

  @media(min-width:800px){
    h1{
    font-size:60px;
    text-align: center;
    border-bottom: 3px solid gray;
    margin:0;
    padding:20px;
  }


    #grid{
    display : grid;
    grid-template-columns: 200px 2fr;
    }

    #grid ol{
    border-right:3px solid white;
    margin:0;
    padding:40px;
    }

    #article{
    padding-left: 20px;
    }
}

</style>
