body{
  background-color: #ecf0f1;
}
h1 {
  color: #9b59b6;
  display : inline;
  transition : color 0.5s ease-in-out;
}

.btn{
  cursor : cell;
}
.clicked{
  color : #2c3e50;
}

.form,
.greetings{
  display : none;
}

.showing {
  display: block;
}
